///Toggle///



///Toggle///



//////Navbar Started//////

.RowgisticLogo {
    height: 71PX;
    border-radius: 13px;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.headFont {
    color: white;
}

#navFont {
    color: white;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

.bg-light {
    --bs-bg-opacity: 0.1;
    background-color: transparent !important;
}

.navbarImage {
    height: 566px;
    background: url(../../../../assets/trendyNav.png);
    background-size: cover;
    position: relative;

}

.downloadButtonimages {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .downloadButton {
    width: 92px;
    height: 35px;
  }
  .download-container {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
  }
.downloadDetails{
    color: white;
    font-size: small;
    font-style: italic;}

nav {
    position: relative;
}

.headFont {
    color: white;
    position: absolute;
    font-weight: 600;
    top: 163px;
    left: 114px;
}

.headFontbelow {
    color: white;
    position: absolute;
    top: 212px;
    left: 140px;
}



//////Navbar Ended//////


////First Section started/////
.firstSection {
    // height: 391px;
    background: white;
}

.about-team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-team h1 {
    font-size: 24px;
    /* Adjust font size as needed */
    text-decoration: none;
    /* Remove default underline */
    position: relative;
}

.about-team h1::after {
    content: "";
    display: block;
    width: 40%;
    /* Adjust underline length as needed */
    height: 4px;
    /* Adjust underline thickness as needed */
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -6px;
    /* Adjust underline position as needed */
    left: 50px;
}

.about-team h1 span {
    position: relative;
    z-index: 1;
    /* Keep text on top of the underline */
}

.about-team h1 span.underline {
    text-decoration: line-through;
    text-decoration-color: transparent;
    /* Hide default underline */
}

.aboutTeamTitle {
    color: rgba(249, 109, 60, 0.8)
}

.emptyClass {
    height: 35px;
}


//////Profile Card started////
.profile-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-card {
    text-align: center;
}

.profile-pic {
    width: 193PX;
    border: 2px solid rgba(249, 109, 60, 0.8);
    height: 206px;
    border-radius: 50%;
    background: url(../../../../assets/Morten.jpeg);
    background-size: cover;
    background-repeat: round;
    object-fit: revert;
    margin: 0 auto 10px;
}

.profile-pic1 {
    width: 193PX;
    height: 206px;
    border: 2px solid rgba(249, 109, 60, 0.8);
    border-radius: 50%;
    background: url(../../../../assets/Max.jpeg);
    background-size: cover;
    background-repeat: round;
    object-fit: revert;
    margin: 0 auto 10px;
}

.profile-pic2 {
    width: 193PX;
    height: 206px;
    border: 2px solid rgba(249, 109, 60, 0.8);
    border-radius: 50%;
    background: url(../../../../assets/JR7_0708.jpg);
    background-size: cover;
    background-repeat: round;
    object-fit: revert;
    margin: 0 auto 10px;
}

.profile-pic3 {
    width: 193PX;
    height: 206px;
    border: 2px solid rgba(249, 109, 60, 0.8);
    border-radius: 50%;
    background: url(../../../../assets/roeland-profile.jpeg);
    background-size: cover;
    background-repeat: round;
    object-fit: revert;
    margin: 0 auto 10px;
}

.profile-name {
    font-weight: 600;
    font-size: larger;
    color: rgba(249, 109, 60, 0.8);
}

//////Profile Card Ended////

//////First section Ended////


/////////////////////////////////////Second Section Started//////////////////////////////
.secondSection {
    // height: 538px;
    background: rgba(249, 109, 60, 0.8);
}

.align {
    text-align: center;
    color: white;
}



.card-pic {
    width: 127PX;
    height: 113px;
    border-radius: 50%;
    background: url(../../../../assets/search_button-removebg-preview.png);
    background-size: cover;
    background-repeat: round;
    object-fit: revert;
    margin: 0 auto 10px;
}

.card-pic1 {
    width: 127PX;
    height: 113px;
    border-radius: 50%;
    background: url(../../../../assets/share-removebg-preview.png);
    background-size: cover;
    background-repeat: round;
    object-fit: revert;
    margin: 0 auto 10px;
}

.card-pic2 {
    width: 127PX;
    height: 113px;
    border-radius: 50%;
    background: url(../../../../assets/link-removebg-preview.png);
    background-size: cover;
    background-repeat: round;
    object-fit: revert;
    margin: 0 auto 10px;
}

.card-pic3 {
    width: 127PX;
    height: 113px;
    border-radius: 50%;
    background: url(../../../../assets/Amount-removebg-preview.png);
    background-size: cover;
    background-repeat: round;
    object-fit: revert;
    margin: 0 auto 10px;
}

#rowingCommunityFonts {
    color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

/////////////////////////////////////Second Section Ended//////////////////////////////


///////////////////Third section started////////////
#contact {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

button.submitButton {
    background: rgba(249, 109, 60, 0.8);
    color: white;
    border: none;
    border-radius: 9px;
    padding: 8px;
}

///////////////////Third section Ended////////////

//////fourth section started/////
.viewMap {
    background: rgba(249, 109, 60, 0.8);
    text-align: center;
    color: white;
    padding:12px
}

//////fourth section Ended/////
.footer {
    display: flex;
    justify-content: center;
}

.footerImages {
    height: 38px;

}


.iframe {
    display: flex;
    justify-content: center;
    /* width: 89vw; */
}

.copyRight {
    background: rgba(249, 109, 60, 0.8);
    padding: 10px;
}