<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rowgistic</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

  <header>
    <div class="navbarImage">
      <nav class="navbar navbar-expand-lg navbar-light bg-light transparent-navbar">

        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../../../../assets/rowgistic_logo.png" alt="RowgisticLogo"
              class="RowgisticLogo" srcset=""></a>
          <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
            [attr.aria-expanded]="!isNavbarCollapsed" [ngClass]="{'collapsed': isNavbarCollapsed}">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarNav">

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" id="navFont" (click)="scrollToSection('firstSection')">ABOUT
                  US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" id="navFont" (click)="scrollToSection('secondSection')">WHAT WE
                  DO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" id="navFont"
                  (click)="scrollToSection('thirdSection')">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="emptyClass"></div>
      <h1 class="headFont">ROWGISTIC</h1>
      <P class="headFont">EASY LOGISTIC EASY ROWING</P>
    </div>

  </header>

  <div class="firstSection" id="firstSection">
    <div class="emptyClass"></div>

    <div class="aboutTeam">
      <div class="about-team">
        <h1 class="aboutTeamTitle">ABOUT THE TEAM</h1>
      </div>
      <div class="emptyClass"></div>
      <!----Profile Card----->
      <div class="profile-cards">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="profile-card">
                <div class="profile-pic"></div>
                <div class="profile-name">MORTEN ZAKARIASSEN</div>
                <div class="profile-name">CHAIRMAN</div>
              </div>
            </div>
            <div class="col">
              <div class="profile-card">
                <div class="profile-pic1"></div>
                <div class="profile-name">MAXIMIILAN ZAKARIASSEN</div>
                <div class="profile-name">CEO</div>
              </div>
            </div>
            <div class="col">
              <div class="profile-card">
                <div class="profile-pic2"></div>
                <div class="profile-name">DAMIR CAUSVIC</div>
                <div class="profile-name">COO</div>
              </div>
            </div>
            <div class="col">
              <div class="profile-card">
                <div class="profile-pic3"></div>
                <div class="profile-name">ROLELAND VAN NIEUWKREK</div>
                <div class="profile-name">CTO</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="secondSection" id="secondSection">
    <div class="emptyClass"></div>

    <div class="secondContent">
      <h1 class="align">ROWING COMMUNITY <span style="color: black;">APK</span> </h1>
      <p class="align">we are proud to introduce the rowing community APK,a dedicated application for rowing enthusiasts
      </p>
      <p class="align">Our APK serve as a comprehensive rowing community platform,bringing together passinate rowers
        from around the world. </p>
    </div>

    <div class="profile-cards">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="profile-card">
              <div class="card-pic"></div>
              <div class="profile-name" id="rowingCommunityFonts">Discover rowing events and challenges</div>
            </div>
          </div>
          <div class="col">
            <div class="profile-card">
              <div class="card-pic1"></div>
              <div class="profile-name" id="rowingCommunityFonts">Share your rowing achievements</div>
            </div>
          </div>

        </div>
        <div class="emptyClass"></div>

        <div class="row">
          <div class="col">
            <div class="profile-card">
              <div class="card-pic2"></div>
              <div class="profile-name" id="rowingCommunityFonts">Connect with fellow rowers and enthusiasts</div>
            </div>
          </div>
          <div class="col">
            <div class="profile-card">
              <div class="card-pic3"></div>
              <div class="profile-name" id="rowingCommunityFonts">Buy and sell boats in a market place.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="thirdSection" id="thirdSection">
    <div class="emptyClass"></div>
    <div class="thirdContent">
      <h1 class="align" style="color:rgb(241, 162, 17)">CONTACT US </h1>
      <p class="align">Feel Free to Contact Us!</p>
    </div>

    <div class="container">
      <form>
        <div class="row">
          <label for="fname" class="col-sm-1  
          col-form-label">Your Name</label>
          <div class="col-sm">
            <input type="text" class="form-control" id="fname" placeholder="Name">
          </div>
          <label for="fname" class="col-sm-1  
          col-form-label">Email Address</label>
          <div class="col-sm">
            <input type="email" class="form-control" id="email" placeholder="Email Address">
          </div>
        </div>
        <br>
        <div class="row">
          <label for="fname" class="col-sm-1  
          col-form-label">Company</label>
          <div class="col-sm">
            <input type="text" class="form-control" id="company" placeholder="company">
          </div>
          <label for="fname" class="col-sm-1  
          col-form-label">Website</label>
          <div class="col-sm">
            <input type="text" class="form-control" id="website" placeholder="website">
          </div>
        </div>
        <br>
        <div class="row">
          <label for="floatingTextarea2" class="col-sm-1
        col-form-label">Messages</label>
          <div class="col-9">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="height: 100px"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <label for="floatingTextarea2" class="col-sm-1
        col-form-label"> </label>
          <div class="col-9">
            <button type="button" class="submitButton">Submit</button>

          </div>
        </div>


      </form>
    </div>
  </div>

  <div class="emptyClass"></div>
  <div class="fourthSection">
    <div class="viewMap">
      <h1>VIEW MAP</h1>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.3329058186255!2d144.95973637463905!3d-37.80567063357346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato%20Pty%20Ltd!5e0!3m2!1sen!2sin!4v1708594861480!5m2!1sen!2sin"
       style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="footer">
    <img src="../../../../assets/footerImages.jpg" alt="" srcset="">
  </div>


</body>

</html>